
body {background-color:
     blueviolet;}
table 
th {background-color:
     gold;}
tr, td 
 {background-color:
     aquamarine;}
    table{ width: 80%;
    height: 80%;}
th{color: darkgreen;}

table{margin: 
    75px 50px 50px 75px;}
    th{ font:
        1em sans-serif;
    font-size: xx-large;}